@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos globales para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento vertical */
  height: 10px; /* Alto de la barra de desplazamiento horizontal */
}

::-webkit-scrollbar-thumb {
  background-color: #FFD700; /* Color amarillo para la barra */
  border-radius: 5px; /* Bordes redondeados */
}

::-webkit-scrollbar-track {
  background-color: #333; /* Color de fondo de la barra */
}
